* {
    font-family: Helvetica;
    font-weight: 400;
}

#titulo {
    color: #0984e3;
    text-align: center;
}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador, #pc {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: white;
}

#jogador {
    background-color: #ff7675;
}

#pc {
    background-color: #74b9ff;
}

#versus {
    font-size: 40px;
    text-align: center;
    width: 70px;
}

#jogador-nome, #pc-nome {
    margin: 0;
    padding: 0;
}

#jogador-nome {
    text-align: left;
}

#pc-nome {
    text-align: right;
}

#jogador-pontos, #pc-pontos {
    position: absolute;
    top: 8px;
    font-size: 32px;
}

#jogador-pontos {
    right: 20px;
}

ul#jogador-escolha, ul#pc-escolha {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul#jogador-escolha li, ul#pc-escolha li {
    display: inline;
}

ul#jogador-escolha li a, ul#pc-escolha li a {
    opacity: .2;
}

ul#jogador-escolha li a:hover, ul#jogador-escolha li a.selecionado, ul#pc-escolha li a.selecionado {
    opacity: 1;
}

ul#jogador-escolha li a img, ul#pc-escolha li a img {
    max-width: 80px;
}

#mensagens {
    background-color: #b2bec3;
    text-align: center;
    font-size: 32px;
    border-radius: 5px;
    margin: 40px 0;
    padding: 20px;
}